:root{
    --color-primary: #e057ef;
    --color-secondary: #ae8eba;
    --color-accent: #edc3e4;
    --color-headings:#0e85bd;
    --color-body: #918ca4;
    --color-body-darker: #5c5577;
    --color-border: #ccc;
    --border-radius: 40px;
}

/* Typography */

html{
    /* 62.5% of 16px = 10px = 1rem*/
    font-size: 62.5%;
}
body{
    font-family: 'open sans', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,h2,h3{
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

p{
    margin-top: 0;
}
@media screen and (min-width: 1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/* Links */

a{
    text-decoration: none;
}

.link-arrow{
    color: var(--color-accent);  
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    transition: mmargin .4s;  
}

.link-arrow::after{
    content: '-->';
    margin-left: 5px;
}

.link-arrow:hover::after{
    margin-left: 10px;
}

@media screen and (min-width: 1024px){
    .link-arrow{
        font-size: 1.5rem;
    }
}

/* Badges */

.badge{
    border-radius: 30px;
    font-size: 2rem;
    font-weight: 600;
    padding: .5rem 2rem;
    white-space: nowrap; /*This prevent the badge to wrap in the second line when we have a limited space*/
}

.badge--primary{
    background: var(--color-primary);
    color: #f3f3f3;
}

.badge--secondary{
    background: var(--color-secondary);
    color: #f3f3f3;
}

.badge--small{
    font-size: 1.6rem;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/* List */

.list{
    color: var(--color-headings);
    list-style: none;
    margin-left: 0%;
    font-weight: 600;
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--tick{
    list-style-image: url(../Images/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item{
    padding-left: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px){
    .list--tick .list__item{
        padding-left: 0;
    }
}

/* Icons */

.icon-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f3f9fa;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 40px;
    height: 40px;
}

.icon--primary{
    fill: var(--color-primary);
}

