<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis
        officia ullam a consequuntur tenetur! Vero in dicta distinctio
        praesentium.
      </p>
    </header>
    <div class="card card__primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos non
        dolores eligendi, nobis similique quis labore laborum inventore quod
        exercitationem.
      </div>
    </div>
  </div>
</section>
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex perferendis
      officia ullam a consequuntur tenetur! Vero in dicta distinctio
      praesentium.
    </p>
  </header>
</section>
