<div class="card card__primary">
    <header class="card__header"> Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos non dolores eligendi, nobis similique quis labore laborum inventore quod exercitationem.
    </div>
</div>
  <div class="card card__secondary">
    <header class="plan__header">
      <span class="plan__heading">Entry</span>
      <span class="plan__price">$14</span>
      <span class="plan__cycle">/month</span>
      <span class="card__badge badge card-badge--secondary">%10 Off</span>
      <p class="plan__description"></p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod,
        accusamus?
      </p>
    </header>
    <div class="card__body">
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos non dolores eligendi, nobis similique quis labore laborum inventore quod exercitationem.
    </div>
  </div>