<section class="block container block-domain">
  <header class="header">
    <h2 class="header__title domain__title">Starting at $10 per month</h2>
    <p class="header__text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
      reiciendis!
    </p>
  </header>
  <div class="input-group">
    <input class="input" type="text" placeholder="Enter domain name here..." />
    <button class="btn btn--main btn--search">Search</button>
  </div>
  <div>
    <ul class="list grid grid__prices">
      <li><span class="badge-action">.com $9</span></li>
      <li><span class="badge-action">.sg $10</span></li>
      <li><span class="badge-action">.space $11</span></li>
      <li><span class="badge-action">.info $14</span></li>
      <li><span class="badge-action">.net $10</span></li>
      <li><span class="badge-action">.xyz $10</span></li>
    </ul>
  </div>
</section>
