<section class="block container">
  <header class="feature">
    <h2 class="feature__header">Host On The CLoud to Keep Growing</h2>
    <span class="feature__text"
      >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea,
      maiores?</span
    >
  </header>
  <article class="grid grid--1x2 feature-block">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#growth"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__content-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        deleniti, vero voluptatum enim quisquam provident alias temporibus
        consectetur suscipit labore ut distinctio, consequuntur pariatur at.
        Consectetur corrupti aut molestias reprehenderit!
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/fast@1x.jpg 1x, Images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/fast@1x.jpg" alt="chart image" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature-block">
    <picture>
      <source
        type="image/webp"
        srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy@1x.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="feature__image" src="images/easy@1x.jpg" alt="chart image" />
    </picture>
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__content-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        deleniti, vero voluptatum enim quisquam provident alias temporibus
        consectetur suscipit labore ut distinctio, consequuntur pariatur at.
        Consectetur corrupti aut molestias reprehenderit!
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
  </article>
  <article class="grid grid--1x2 feature-block">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p class="feature__content-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
        deleniti, vero voluptatum enim quisquam provident alias temporibus
        consectetur suscipit labore ut distinctio, consequuntur pariatur at.
        Consectetur corrupti aut molestias reprehenderit!
      </p>
      <a class="link-arrow" href="#">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="Images/fast@1x.jpg 1x, Images/fast@2x.jpg 2x"
      />
      <img class="feature__image" src="Images/fast@1x.jpg" alt="chart image" />
    </picture>
  </article>
</section>
