<footer  class="block block--dark">
    <div class="grid grid--1x5">
      <picture>
        <img class="img__logo " src="images/logo.png" alt="logo" />
      </picture>
      <div class="footer__list">
        <h3 class="footer__title">Products</h3>
        <ul class="list footer__hide">
          <li class="footer__item">Item 1</li>
          <li class="footer__item">Item 2</li>
          <li class="footer__item">Item 3</li>
          <li class="footer__item">Item 4</li>
          <li class="footer__item">Item 5</li>
        </ul>
      </div>
      <div class="footer__list">
        <h3 class="footer__title">Company</h3>
        <ul class="list footer__hide">
          <li class="footer__item">Item 1</li>
          <li class="footer__item">Item 2</li>
          <li class="footer__item">Item 3</li>
          <li class="footer__item">Item 4</li>
          <li class="footer__item">Item 5</li>
         </ul>
        </div>
        <div class="footer__list">
          <h3 class="footer__title">Support</h3>
          <ul class="list footer__hide">
            <li class="footer__item">Item 1</li>
            <li class="footer__item">Item 2</li>
            <li class="footer__item">Item 3</li>
            <li class="footer__item">Item 4</li>
            <li class="footer__item">Item 5</li>
           </ul>
          </div>
          <div class="footer__list">
            <h3 class="footer__title">Domains</h3>
            <ul class="list footer__hide">
              <li class="footer__item">Item 1</li>
              <li class="footer__item">Item 2</li>
              <li class="footer__item">Item 3</li>
              <li class="footer__item">Item 4</li>
              <li class="footer__item">Item 5</li>
            </ul>
    </div>
  </footer>