<section class="hero block block--dark block--skewed-left">
  <div class="container grid grid--1x2">
    <header class="hero__header">
      <h1 class="hero__title">Cloud Hosting</h1>
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, odit.
      </p>
      <a class="btn bnt--accent btn--stretched" href="#"> Get Started</a>
    </header>
    <picture>
      <img class="hero__img" src="images/banner.png" alt="offer photo" />
    </picture>
  </div>
</section>
