<section class="nav__bar block--dark">
  <img class="img__logo" src="images/logo.png" alt="logo of web page" />
  <ul class="list list__nav">
    <li class="nav__item">
      <a href="#"><i class="fa-solid fa-wifi nav__icon"></i>Hosting</a>
    </li>
    <li class="nav__item">
      <a href="#"><i class="fa-solid fa-wifi nav__icon"></i>VPS</a>
    </li>
    <li class="nav__item">
      <a href="#"><i class="fa-solid fa-wifi nav__icon"></i>Domain</a>
    </li>
    <li class="nav__item">
      <a href="#"><i class="fa-solid fa-wifi nav__icon"></i>Pricing</a>
    </li>
  </ul>
</section>
